.bx-wrapper{
    border: 0;
    margin: 0;
}
.bx-wrapper .bx-pager{
    text-align: right;
    bottom: 13px;
}
.bx-wrapper::after{
    content: "";
    display: block;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0; left: 0;
}
footer{
    padding-left: 5%;
    line-height: 60px;
    color: #fff;
    background: #272c35;
}


header{
    position: fixed;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    z-index: 10;
    top: 0; left: 0;
    display: flex;
    color: #fff;
    justify-content: space-between;
    line-height: 80px;
    font-size: 1rem;
    background: rgba(0,0,0,.6);
}
.gnb{
    display: flex;
    width: 50%;
    justify-content: space-between;
}


.slide_title{
    position: absolute;
    top: 60%; left: 15%;
    color: #fff;
}
.slide_title h3{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 24px;
}
.slide_title h1{
    font-size: 2rem;
    line-height: 60px;
}
.slide_title p{
    font-size: 0.8rem;
}



/* #contents */
#contents{
    background:#272c35; 
    padding-top: 80px;
    padding-bottom: 80px;
}
#contents > h3, #menu > h3{
    text-align: center;
    line-height: 40px;
    color: #af9a0b;
    font-size: .8rem;
}
#contents h1, #menu h1{
    text-align: center;
    line-height: 60px;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 40px;
}
#contents ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
#contents ul li{
    width: 50%;
}
#contents img{
    width: 100%;
}
.reText{
    background: #eee;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    color: #495057;
}
.reText h3{
    font-size: 1rem;
    line-height: 2.4rem;
}
.reText span{
    font-size: 1.2rem;
}
.reText p{
    font-size: .8rem;
}
footer{
    border-top: 1px #495057 solid;
}





/* menu */
#menu{    
    background:#272c35; 
    height: calc(100vh - 60px);
    box-sizing: border-box;
    padding-top: 200px;
    padding-bottom: 200px;
}
#menu > ul{
    width: 70%;
    margin: 0 auto;
}
#menu li{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    background: #eee;
    font-size: 1rem;
    padding: 10px 60px;
}
#menu li:nth-child(even){
    background: #ccc;
}



/* gallery */
#gallery{
    background:#272c35; 
    padding-top: 200px;
    padding-bottom: 200px;
}
#gallery > ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
#gallery li{
    width: calc(100% / 3);   
}
#gallery img{
    width: 100%;
}




/* contact */
#contact{
    background:#272c35; 
    height: calc(100vh - 60px);
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
#contact ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
#contact li:first-child{
    width: 40%;    
}
#contact li:last-child{
    width: 60%;  
}